<div class="category-container">
  <span class="category-name">
    <strong>{{name}}</strong>
  </span>

  <button type="button" class="delete-category pull-right btn btn-danger btn-xs">
    <i class="glyphicon glyphicon-remove"></i>
  </button>

  <hr />

  <!-- The Todolist container will go here -->
  <div class="todo-list-container">

  </div>
</div>
