<input type='text' class='todo' placeholder='Enter your todo here' {{#if name}} value='{{name}}' {{/if}}></input
<!-- Temporary - should be able to add TODOS by pressing enter -->
<button type='button' class='save-todo'>Save</button>

