<input type="checkbox" name='completed' class='complete-todo'>
<input type='text' class='todo' value='{{name}}' disabled></input>
<!-- Temporary - should be able to add TODOS by pressing enter -->
<button type='button' class='edit-todo'>Edit</button>
<button type='button' class='destroy-todo'>Destroy</button>
