 <!-- TODOS will be rendered here  -->
<div class="todo-list">
</div>
<div class="todo-filters">
  <button type="button" class="new-todo btn btn-primary btn-sm">Add a Todo</button>
  <a href="#" class="yesterdays-todos">Use Yesterdays</a>
</div> 