<button type="button" class='complete-todo'>
  <i class="glyphicon glyphicon-ok"></i>
</button>
<input type='text' class='todo' value='{{name}}' disabled></input>
<button type='button' class='edit-todo'>
  <i class="glyphicon glyphicon-pencil"></i>
</button>
<button type='button' class='destroy-todo'>
  <i class="glyphicon glyphicon-remove"></i>
</button>
