// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden {
  display: none;
}

.completed {
  text-decoration: line-through;
}

.deleted {
  float: right
}

.category-container { 
  border: 4px solid gray;
  button.btn-xs { 
    border-radius: 30px;
  }

  .category-name { 
    margin-left: 10px;
    font-size: 18px;
  }
  .delete-category {
    margin-right: 5px;
    margin-top: 5px;
  }
  .todos-container {
    .todo-filters { 
      margin: 10px 10px 10px 10px;
      .yesterdays-todos { 
        font-size: 12px;
      }
    }
    .todo-container {
      margin-left: 10px;
    }
  }
}

.todo-list-container { 

}





