<div class="container">
  <input type="text" class="category-name" placeholder="Enter Category Name"/>
  <button type="button" class="new-category">Create</button>
  <div id="categories-list">
  </div>
</div>